section#about{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5vw;
}

.about-picture-class {
  width: 50%;
  margin-right: auto;
}

section#about h1 {
  font-family: 'Conthrax', sans-serif;
  width: 100%;
}

.about-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5%;
  align-items: center;
  margin-top: 10%;
  width: 74vw;
}

@media (max-width: 768px) {
  .about-block {
    margin-top: 17vw;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    text-align: center;
  }


  .about-picture-class {
  width: 100vw;
  margin-right: auto;
  display: block;
    margin: 0 auto;
    margin-bottom: 8vw;
}
}