section#about{
  display: flex;
  flex-wrap: wrap;
}

section#about h1 {
  font-family: 'Conthrax', sans-serif;
  width: 100%;
}

.about-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5%;
  align-items: center;
  margin-top: 10%;
  width: 74vw;
}