section#about{
  font-family: 'Conthrax', sans-serif;
  display: flex;
  flex-wrap: wrap;

}
section#about h1 {
  font-family: 'Conthrax', sans-serif;
  width: 100%;
}
.block-about {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5%;
  align-items: center;
  margin-left : 6%;
}