.events-block {
    width: 75vw;
    margin-bottom: 7vw;
    align-items: center;
    text-align: center;
    
}
.events-block h2 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2%;
}

.news-grid img {
    width: 100%;
}

.events {
    background-color: black;
}

.events-link {
  text-decoration: none;
  color: #38bff8f6;
  display: inline-block;
  transition: transform 0.2s ease;
}

.events-link:hover {
  transform: translateX(4px);
  color: inherit;
}

@media (max-width: 768px) {
  section#events {
    display: flex;
    justify-content: center;
    align-items: center;
      text-align: center;
  }

  .events-block {
    width: 80%;
    margin-top: 15vw;
  }

  .news-grid {
    display: grid !important; 
    grid-template-columns: 1fr !important;
  }

  .event-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin-bottom: 8vw;
  }
}

  


