.events-block {
    width: 74vw;
    margin-bottom: 7vw;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
}

.news-grid img {
    width: 100%;
    height: 200%;
}

.events {
    background-color: black;
}

@media (max-width: 768px) {
  .news-grid {
    grid-template-columns: 1fr;
  }
}

