section#faqs {
  gap: 5%;
  align-items: center;
  width: 74vw;
  color: white;
  margin: 1vw;
  margin-bottom: 7vw;
}
.q-and-a {
    margin-top: 3.7vw;
}
.faq-unit {
    margin: 1vw;
    margin-bottom: 5vw;
}

.faq-unit p {
    font-size: 1vw;
    margin-bottom: 1vw;
}

.approximations {
    margin-left : 1vw;
    margin-top: -3vw;
}

.approximations p {
    margin-bottom: -0.5vw;
}