section#faqs {
  gap: 5%;
  align-items: center;
  width: 74vw;
  color: white;
  margin: 1vw;
  margin-bottom: 7vw;
}
.q-and-a {
    margin-top: 3.7vw;
}
.faq-unit {
    margin: 1vw;
    margin-bottom: 5vw;
}

.faq-question {
    font-size : 2vw;
}

.approximations {
    margin-left : 1vw;
    margin-top: -3vw;
}

.approximations p {
    margin-bottom: -0.5vw;
}

@media (max-width: 768px){
    section#faqs {
        gap: 0 !important;
        width: 100%;
    }
    .q-and-a p {
        font-size : 3.5vw;
    }
    .faq-answer {

    }

    .faq-question {
        font-size : 5.5vw !important;
        margin-bottom: 1vw;
    }

    .faq-unit {
        margin-bottom: 14vw;
    }
}