section#contact {
    background-color: #171717;
    color: white;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}
.block-contact{
    margin: 1vw;
    margin-left: 4vw;
}
.logos-newsletter {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.logos {
    display : flex;
    gap: 1.4vw;
    width: 100%;
    
}
.logo-unit img {
    width : 2vw;
    height: 2vw;
    border-radius: 50%;
    object-fit: cover; 
    border: 2px solid white;
}
.newsletter {
    margin-left: auto;
    border-radius: 999px;
    background: transparent;
    margin-right: 8vw;
    margin-top: vw;
}
.newsletter-form {
    border: 1px solid white;
    border-radius: 999px;
    border: solid 2px white;
}
.newsletter-form input {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    background: transparent;
    color: white;
    outline: none;
    border: transparent;
}

.newsletter-form button {
    padding: 0.6rem 1.4rem;
    background-color: transparent;
    color: white;
    border-radius: 999px;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 0.05em;
    border: solid 2px white;
    
}

.legalmentions {
    width: 100%;
    margin-bottom: 2vw;
    margin-left: 4vw;
    margin-top: 7vw;
}
.legalmentions a {
    display: block;
    color: white;
    font-weight: normal;
    font-size: 1vw;
}

@media (max-width: 768px) {
    .legalmentions a {
        font-size : 3vw;
    }
    .logo-unit img {
        width: 10vw;
        height: auto;
        margin-top: 5vw;
    }
}