section#projects {
    width: 75vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2% 0%;
    text-align: center;
}

section#projects h2,section#publications p {
    width: auto;
    margin-top: 2vw;
}

.project-box {
    display: flex;
    justify-content: space-between;
}

.project-box img {
    width: 20vw;
}

